// styles in src/app directory are applied to the whole page
body {
  background: #628084;
  color: #fff;
  margin: 0;
  padding: 0;
}
a {
  color: #03A9F4;
}

// styles applied on :host are applied on the current component, "app" in this case
:host {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: column;
  height: 100vh;
}

header {
  background-color: #4E274C;
  padding: 16px 0 16px 0;
  width: 100%;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
  margin: 0;

  nav {
    padding-left: 16px;
  }
}

main {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background: #d5daff url("img/redux-fish.png") no-repeat center;
  background-size: contain;

  &.page-content {
    display: flex;
    flex-direction: column;
  }
  .title {
    background: rgba(255,255,255,0.5);
    color: gray;
  }
}

footer {
  text-align: center;
  font-size: 0.8em;
  padding: 10px;
  background: #404040;
  color: white;
}
