// styles applied on :host are applied on the current component, "app" in this case
:host {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: column;
  height: 100vh;
}

header {
  background-color: hsla(31,15%,50%,.1);
  padding: 16px;
  width: 100%;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
  margin: 0;
}

main {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background: #ffffff url("img/game-of-thrones-raven.jpg") no-repeat center;
  background-size: cover;

  .title {
    background: rgba(255,255,255,0.5);
    color: gray;
  }
}

footer {
  text-align: center;
  font-size: 0.8em;
  padding: 10px;
  background: #404040;
}
